.formItem, .formItem1
  display: flex
  flex-direction: row !important

  \:global(.ant-form-item-label)
    flex-grow: 0
    flex-shrink: 0

.formItem :global(.ant-form-item-label)
  width: 100px

.formItem1 :global(.ant-form-item-label)
  position: relative
  top: 5px
  width: 135px

/* Add的布局 */
.main
  display: flex

.schemaForm
  flex-grow: 1

  \:global(.schema-form-number-input)
    width: 100% !important

  \:global(.schema-form-object-collapse:not(:last-child))
    margin-bottom: 10px

.help
  margin-left: 8px
  width: 316px
  flex-shrink: 0

  \:global(.ant-tabs-content)
    padding-right: 16px !important

.smallTitle
  font-size: 12px